*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: emoji;
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.encoder, .decoder{
    height: auto;
    width: 50vw;
    margin: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
}

h3{
    display: flex;
    justify-content: center;
    margin: 30px;
}

h4{
    margin: 10px;
}

.head{
    height: 100px;
    width: 100vw;
}


.heading{
    display: block;
    text-align: center;
    margin: 20px;
    font-size: 4vw;
}

.sub-heading{
    display: block;
    text-align: center;
    margin: 20px;
}

input{
    height: 40px;
    width: 80%;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

button{
    height: 40px;
    width: 130px;
    margin: 10px;
    background-color: rgb(39, 227, 111);
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 5px;
    transition: 0.4s;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottum{
    font-weight: bold;
    font-size: 25px;
}

.instaLogo{
    height: 40px;
}

button:hover{
    border-radius: 10px;
    font-size: 12px;
    background-color: black;
    color: rgb(39, 227, 111);
    border-color: rgb(39, 227, 111);
}

a{
    text-decoration: none;
    color: black;
}

@media (max-width: 650px) {
    .main{
        display: block;
    }

    .encoder, .decoder{
        width: 90vw;
    }

    .heading{
        font-size: 6vw;
    }

    .bottum{
        font-size: 20px;
    }
}